# Django Basic Settings
#DJANGO_SECRET_KEY=
#DEBUG=
#ALLOWED_HOSTS=

# Django Database Settings
# SQLITE (Local Testing)
#DB_ENGINE=django.db.backends.sqlite3
#DB_NAME=

# PostgreSQL (uncomment the following lines and comment out the SQLite settings above to use PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=



