# Django Basic Settings
DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Django Database Settings
# SQLITE (default settings)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# PostgreSQL (uncomment the following lines and comment out the SQLite settings above to use PostgreSQL)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=
